GEMINI_API_KEY=
GEMINI_MODEL_NAME=gemini-1.5-flash
GROQ_API_KEY=
GROQ_MODEL_NAME=llama-3.1-8b-instant

PUBMED_EMAIL=
PUBMED_TOOL_NAME=medinsight
PUBMED_API_KEY=

CHROMA_API_KEY=
CHROMA_TENANT=
CHROMA_DATABASE=
CHROMA_COLLECTION_NAME=medinsight_temp_pubmed_chunks
CHROMA_LOCAL_PATH=/tmp/medinsight-chroma
USE_GEMINI_EMBEDDINGS=false

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
